@charset "UTF-8";
/* CSS Document */
html {
	background: url(images/background.png) fixed center top;
	width: 100%;
}
.wrapper {
	width: 100%;
}
.maladies ul {
	list-style: none;
}
.maladies li {
	background-color: rgba( 3, 29, 78, 0.722);
	width: 135px;
	z-index: 99;
	padding-bottom: 10px;
}
header {
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
}
.gridContaier {
	postion: relative;
}
.vhs {
	float: left;
	position: absolute;
	top: 31%;
}
.vhs ul {
	list-style: none outside none;
}
.vhs li {
	text-decoration: none;
	background-color: rgba( 2, 21, 55, 0.8 );
	margin-bottom: 20px;
	padding: 8px;
	width: 33px;
}
.main ul {
	list-style: none;
}
.main li {
	text-decoration: none;
}
.vhs a {
	color: #A0A4B1;
	display: block;
	font-family: "Century Gothic";
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
.torso {
	float: left;
	margin-left: 34%;
}
.maladies {
	float: right;
	left: 86%;
	position: absolute;
	top: 26%;
}
.humanbody {
	left: 38%;
	position: fixed;
	top: 23%;
	 
}
hbody{
left: -10px;
    position: absolute;
    top: -27px;
    width: 81%;	
}
#head_list{
left: 110px;
    position: absolute;
    top: 64px;
	
}
#head_list ul{
	list-style:none;
}
#head_list li{ 
border:1px red solid;}

.eyesl, .eyesr    
,.nose   
,.earsl    
,.earsr  
,.mouth    
,.skinl 
,.skinr  
,.brain    
,.hair{
position:absolute;	
}


.eyesl  {
 height: 43px;
    left: -45px;
    top: 151px;
    width: 64px;}  
.eyesr {
height: 43px;
    left: 75px;
    top: 151px;
    width: 64px;}
.nose {
 height: 123px;
    left: 31px;
    top: 129px;}
.earsl {
height: 100px;
    left: -119px;
    top: 162px;
    width: 40px;}
.earsr {
 height: 113px;
    left: 172px;
    top: 153px;
    width: 45px;}
.mouth {
 height: 30px;
    left: 0;
    top: 280px;
    width: 100px;}
.skinl {
 height: 124px;
    left: -70px;
    top: 200px;
    width: 66px;}
.skinr {
height: 124px;
    left: 103px;
    top: 200px;
    width: 66px;}
.brain {
 height: 84px;
    left: -44px;
    width: 200px;}
.hair{
left: -9px;
    top: -20px;
    width: 103px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	